/* Base Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 12px;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Utility Classes */
.text-primary {
    font-size: 1.5rem;
    color: #f9faf8;
}

.text-secondary {
    font-size: 1.5rem;
    color: #e5e7eb;
}

.bg-dark {
    background: #1f2937;
}

.btn {
    font-size: 1.5rem;
    cursor: pointer;
    background: #3882f6;
    color: #f9faf8;
    display: inline-block;
    padding: 5px 40px;
    border-radius: 5px;
}

.btn.outline {
    border: 2px solid #f9faf8;
}

/* HEADER */
header {
    padding: 20px 200px 150px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.navbar .logo, .navbar .header-links {
    flex-shrink: 0;
}

.navbar .logo {
    font-size: 2rem;
    font-weight: 700;
}

.navbar .header-links {
    display: flex;
}

.navbar .header-links a {
    margin-left: 20px;
}

/* Hero */
.hero {
    display: flex;
    justify-content: space-between;
}

.hero .main-text {
    font-size: 4rem;
}

.hero p {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.hero .hero-content {
    flex: 0 0 50%;
    padding-right: 30px;
}

.hero img {
    flex: 0 0 50%;
    height: 250px;
    object-fit: cover;
}

/* Info */
.info {
    text-align: center;
    padding: 50px 300px 100px;
}

.info h2 {
    font-size: 3rem;
    font-weight: 700;
    color: #1f2937;
    margin-bottom: 50px;
}

.info .cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.info p {
    font-size: 1.5rem;
}

.info img {
    border: 5px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

/* Quote */
.quote {
    color: #1f2937;
    padding: 120px 20% 120px;
    background: #e5e7eb;
}

.quote blockquote {
    font-size: 3rem;
    font-weight: 300;
    font-style: italic;
}

.quote figcaption {
    font-size: 2.5rem;
    text-align: right;
    font-weight: 700;
}

/* Signup */
.signup {
    margin: 100px 200px;
    padding: 50px 30px;
    border-radius: 10px;
    background: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.signup > * {
    flex-shrink: 0;
}

/* Footer */
footer {
    text-align: center;
    padding: 50px 0;
}